.lightbackdrop {
    background-color: #ff99aa;
    background-image: radial-gradient(at 66% 7%, hsla(310, 69%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 59% 88%, hsla(47, 89%, 61%, 0.4) 0px, transparent 50%),
        radial-gradient(at 27% 2%, hsla(224, 92%, 63%, 1) 0px, transparent 50%),
        radial-gradient(at 21% 9%, hsla(57, 96%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 77%, hsla(326, 77%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 82% 74%, hsla(276, 62%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 87% 9%, hsla(223, 62%, 79%, 1) 0px, transparent 50%);
    background-size: 300% 300%;
    animation: backdrop-animation 20s ease-in-out infinite;
}

@keyframes backdrop-animation {
    0% {
        background-position: 20% 20%;
    }
    25% {
        background-position: 100% 20%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 20% 20%;
    }
}
